
<div class="container home-demo">
	<div class="row">
		<div class="col-sm-12">
			<h3>Demo</h3>
			<div id="demoSlider" class="bxslider">
				<div class="item"><img src="{{assets}}/img/photo1.jpeg"></div>
				<div class="item"><img src="{{assets}}/img/photo2.jpeg"></div>
				<div class="item"><img src="{{assets}}/img/photo3.jpeg"></div>
				<div class="item"><img src="{{assets}}/img/photo4.jpeg"></div>
				<div class="item"><img src="{{assets}}/img/photo5.jpeg"></div>
				<div class="item"><img src="{{assets}}/img/photo6.jpeg"></div>
			</div>
		</div>
	</div>
</div>